{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for a in shares %}
            <tr>
                <td>{{ a['symbol'] }}</th>
                <td>{{ a['name'] }}</td>
                <td>{{ a['qtde'] }}</td>
                <td>{{ a['valor'] }}</td>
                <td>{{ a['date'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
 </table>
{% endblock %}
